# flyctl launch added from .gitignore
**/.DS_Store
**/node_modules
dist


# local env files
**/.env.local
**/.env.*.local

# Log files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Editor directories and files
**/.idea
**/.vscode
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# flyctl launch added from .idea/.gitignore
# デフォルトの無視対象ファイル
.idea/shelf
.idea/workspace.xml
# エディターベースの HTTP クライアントリクエスト
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
fly.toml
